@import "tailwindcss";

/* Dark mode custom properties */
@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #040918 0%, #091540 100%);
    --foreground: #ededed;
  }
}

/* Fallback or default values for light mode */
:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
